vectorbt
yfinance
requests
plotly
papermill
pycoingecko
python-kucoin
python-telegram-bot
matplotlib
web3
schedule
pika==1.3.0
dataclasses-json
pyyaml
python-dotenv
jupyter
jupyterlab
git+https://github.com/man-group/arctic.git
